/* styles.css */

/***************
* TagName SCSS *
****************/
body, .input, .button {
  font: normal 16px Verdana;
}

textarea {
  height: auto;
  width: auto;
  min-height: 100px;
}

/***********************
* Global Variable SCSS *
***********************/
$main-color: ff0060;

/***************
* Class SCSS *
****************/
.label {
  color: black;
  margin: 0px;

  & > input {
    margin-right: 5px;
  }
}

.button {
  background: $main-color;
  border: 1px solid $main-color;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0 10px;
  padding: 10px 15px;
  text-decoration: none;

  &:hover {
    background: $main-color;
  }
}

.isError {
  color: red;
}
